<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.five.mprj.review.map.ReviewMapper">
<select id="reviewSelectList" resultType="co.five.mprj.review.service.ReviewVO">
		SELECT * FROM REVIEW ORDER BY REVIEW_NUM DESC
	</select>
	
	<select id="reviewSelect" resultType="co.five.mprj.review.service.ReviewVO">
		SELECT * FROM REVIEW WHERE REVIEW_NUM = #{reviewNum}
	</select>
	
	<insert id="reviewInsert" parameterType="co.five.mprj.review.service.ReviewVO">
		<selectKey keyProperty="reviewNum" resultType="int" order="BEFORE">
			SELECT 
				CASE WHEN MAX(REVIEW_NUM) IS NULL THEN 1 ELSE MAX(REVIEW_NUM) + 1 END AS REVIEWNUM
			FROM REVIEW
		</selectKey>
		INSERT INTO REVIEW
		VALUES(#{reviewNum},#{reviewWriter},#{reviewSubject},#{reviewStar},#{reviewFileUrl},
				,#{productName},#{reviewHit})
	</insert>
	
	<update id="reviewUpdate" parameterType="co.five.mprj.review.service.ReviewVO">
			UPDATE REVIEW
			<set>
			<if test=" != null"> = #{},</if>
			</set>
			WHERE REVIEW_NUM = #{reviewNum}
	</update>
	
	<delete id="reviewDelete" parameterType="co.five.mprj.review.service.ReviewVO">
		DELETE FROM REVIEW WHERE PRODUCT_NUM = #{ReviewNum}
	</delete>

</mapper>
	